/**
 * @author Steven Bsz
 */

// Imports
@import "variables";
@import "bootstrap";
@import "compass";
@import "functions";

$base-font-size: 16px;

body { font-size: $base-font-size; font-family: "Lato" !important; -webkit-font-smoothing: antialiased; font-weight: normal; }
a { text-decoration: none; }
