/**
 * @author Steven Bsz
 */

$brand-primary:				#3999DD;
$brand-success:				#1ABC9C;

$link-color:				#3DCB81;

$font-family-sans-serif:  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

$navbar-height:							60px;
$navbar-margin-bottom:					0px;

$navbar-default-color:					#FFFFFF;
$navbar-default-bg:						#0D1F37;
$navbar-default-border:					$navbar-default-bg;

$navbar-default-link-color:						#FFFFFF;
$navbar-default-link-hover-color:				#3DCB81;
$navbar-default-link-hover-bg:					transparent;
$navbar-default-link-active-color:				#3DCB81;
$navbar-default-link-active-bg:					$navbar-default-bg;

$navbar-default-brand-color:					#3DCB81;
